In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./imp_line_covid.csv')
df.sample(10)

,Unnamed: 0,Country,Lat,Long,Date,confirmed_cases,death_cases,recovered_cases,confirm,recovered,death,death1,daily_conf,daily_death,daily_recovered,daily_conf_f,daily_recovered_f,daily_death_f
14215,14479,United States of America,40.000000,-100.000000,2020-04-20,790264,44647,72329,"790,264","72,329","44,647",8.014666,28422.0,2186.0,1992.0,"28,422","1,992","2,186"
34191,34436,Tajikistan,38.861000,71.276100,2020-08-22,8277,66,7072,"8,277","7,072",66,1.638801,36.0,0.0,32.0,36,32,0
36721,36984,Paraguay,-23.442500,-58.443800,2020-09-07,23353,449,11524,"23,353","11,524",449,1.693577,867.0,14.0,391.0,867,391,14
4437,4529,Bosnia and Herzegovina,43.915900,17.679100,2020-02-19,0,0,0,0,0,0,1.629362,0.0,0.0,0.0,0,0,0
42766,42844,Benin,9.307700,2.315800,2020-10-14,2478,41,2330,"2,478","2,330",41,1.635226,67.0,0.0,357.0,67,357,0
11656,11879,Sao Tome and Principe,0.186400,6.613100,2020-04-04,0,0,0,0,0,0,1.629362,0.0,0.0,0.0,0,0,0
22173,22232,Barbados,13.193900,-59.543200,2020-06-08,92,7,81,92,81,7,1.630363,0.0,0.0,0.0,0,0,0
16661,16884,Sweden,60.128161,18.643501,2020-05-05,23826,3331,0,"23,826",0,"3,331",2.105753,657.0,73.0,0.0,657,0,73
36853,36911,Denmark,189.863400,-40.014300,2020-09-07,18540,628,16256,"18,540","16,256",628,1.719177,230.0,1.0,103.0,230,103,1
23026,23289,Netherlands,107.044200,-264.960300,2020-06-14,48990,6078,181,"48,990",181,"6,078",2.498623,143.0,2.0,0.0,143,0,2

In [6]:
df.shape

(45886, 18)

In [8]:
df.nunique()

Unnamed: 0           45886
Country                160
Lat                    160
Long                   160
Date                   286
confirmed_cases      17844
death_cases           5970
recovered_cases      13913
confirm              17844
recovered            13913
death                 5970
death1                5970
daily_conf            4562
daily_death           1014
daily_recovered       3739
daily_conf_f          4562
daily_recovered_f     3739
daily_death_f         1014
dtype: int64

In [9]:
df.isna().sum()

Unnamed: 0           0
Country              0
Lat                  0
Long                 0
Date                 0
confirmed_cases      0
death_cases          0
recovered_cases      0
confirm              0
recovered            0
death                0
death1               0
daily_conf           0
daily_death          0
daily_recovered      0
daily_conf_f         0
daily_recovered_f    0
daily_death_f        0
dtype: int64